* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #101418;
  font-family: "roboto";
  color: #fff;
}
a {
  text-decoration: none;
  color: #fff;
}
a.active {
  color: #66b2ff;
}
.leaflet-container {
  height: 600px;
  width: 1000px;
  margin: 0 auto;
}
.leaflet-popup-content p {
  margin: 0 !important;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
}
::-webkit-scrollbar:vertical {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #66b2ff;
  border-radius: 20px;
  border: none;
}
